# Transformations: Bronze → Silver

Joins t2 and t3 from Bronze to create t1 in Silver lakehouse.

In [ ]:
# Create t1 in Silver from Bronze tables
print("Creating t1 in Silver from Bronze.t2 CROSS JOIN Bronze.t3...")
try:
    spark.sql("""
        CREATE OR REPLACE TABLE dbo.t1 USING DELTA AS (
            SELECT * FROM Lakehouse_Bronze.dbo.t2
            CROSS JOIN Lakehouse_Bronze.dbo.t3
            LIMIT 10000
        )
    """)
    print("t1 created successfully!")
except Exception as e:
    print(f"ERROR creating t1: {e}")
    import traceback
    traceback.print_exc()
    raise

In [ ]:
# Optimize t1
print("Running OPTIMIZE dbo.t1 VORDER...")
try:
    spark.sql("OPTIMIZE dbo.t1 VORDER")
    print("OPTIMIZE complete!")
except Exception as e:
    print(f"OPTIMIZE failed (non-fatal): {e}")

In [ ]:
# Verify the join result
cnt = spark.sql("SELECT count(*) as total_rows FROM dbo.t1").collect()[0]["total_rows"]
print(f"t1 total rows: {cnt}")